@let product = product$ | async;
@if (product) {
  <p>
    You selected:
    <strong>{{ product.title }}</strong>
  </p>
  <p>{{ product.price | currency: "EUR" }}</p>
  <form (ngSubmit)="changePrice(product)">
    <!--
      Vincula la propiedad `price` de la variable de `template` del producto
      a la directiva `ngModel` del elemento input. El atributo `name` es obligatorio para que
      Angular pueda crear internamente un control de formulario único para distinguirlo.
      Esta sintaxis [()] se conoce como `banana in a box`.
    -->
    <input
      placeholder="New price"
      type="number"
      name="price"
      [(ngModel)]="price"
    />
    <button class="secondary" type="submit">Change</button>
  </form>
  <div class="pill-group">
    <p class="pill">{{ product.category }}</p>
  </div>
  <div class="button-group">
    @if (authService.isLoggedIn()) {
      <button (click)="addToCart()">Add to cart</button>
    }
    <button class="delete" (click)="remove(product)">Delete</button>
  </div>
}
