@let products = (products$ | async)!;

@if (products) {
  <div class="caption">
    <h1>Products ({{ products.length }})</h1>
    <button mat-mini-fab routerLink="new">
      <mat-icon>add</mat-icon>
    </button>
  </div>
}

<ul class="pill-group">
  @for (product of products | sort; track product.id) {
    <li class="pill">
      @switch (product.category) {
        @case ("electronics") {
          ⌨️
        }
        @case ("jewelery") {
          💎
        }
        @default {
          🏷️
        }
      }
      <a [routerLink]="[product.id]">{{ product.title }}</a>
    </li>
  } @empty {
    <p>No products found!</p>
  }
</ul>
